{% extends 'GalleryCoreBundle::master.html.twig' %}

{% set headerJumbotron = true %}

{% block title %}Home{% endblock %}

{% block jumbotron_title %}Your property.<br />Our passion.{% endblock %}
{% block jumbotron_text %}Our commitment to people, and passion<br />for property ensure we stand out.{% endblock %}

{% block body %}

    <div class="panels-container">
        <section class="panels-main">
            <div class="panel">
                <div class="panel-icon">
                    <i class="retina-finance-ecommerce-035"></i>
                </div>
                <h1 class="panel-title">Properties For Sale</h1>
                <p>Finding the right house to make a home is tough, let us make it easier for you. All listings for houses for sale.</p>
                <p><a href="#">See listings</a></p>
            </div>
            <div class="panel">
                <div class="panel-icon">
                    <i class="retina-business-026"></i>
                </div>
                <h1 class="panel-title">Properties To Let</h1>
                <p>We can help you find your ideal property to rent. Check out our listings for residential properties to let.</p>
                <p><a href="#">See listings</a></p>
            </div>
            <div class="panel">
                <div class="panel-icon">
                    <i class="retina-education-learning-013"></i>
                </div>
                <h1 class="panel-title">Student Accomodation</h1>
                <p>Start meeting other students and developing lots of new friendships. Everything for students - this term, or next.</p>
                <p><a href="#">See listings</a></p>
            </div>
            <div class="panel">
                <div class="panel-icon">
                    <i class="retina-the-essentials-067"></i>
                </div>
                <h1 class="panel-title">Free Market Appraisal</h1>
                <p>We're here to help make getting on the market as easy as possible. Free property advice, valuation, and quotes.</p>
                <p><a href="#">See listings</a></p>
            </div>
        </section>
    </div>

{% endblock %}
