{% extends 'GalleryCoreBundle::master.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="panels">
        <div class="panel">
            <h1 class="panel-title">Buy Properties</h1>
            <p>Sed aliquam sed sem vel feugiat. Nunc vitae magna tellus. Sed non justo fermentum, eleifend justo id, semper enim.</p>
            <p><a href="#">See listings</a></p>
        </div>
        <div class="panel">
            <h1 class="panel-title">Rent Properties</h1>
            <p>Sed aliquam sed sem vel feugiat. Nunc vitae magna tellus. Sed non justo fermentum, eleifend justo id, semper enim.</p>
            <p><a href="#">See listings</a></p>
        </div>
        <div class="panel">
            <h1 class="panel-title">Student Accomodation</h1>
            <p>Sed aliquam sed sem vel feugiat. Nunc vitae magna tellus. Sed non justo fermentum, eleifend justo id, semper enim.</p>
            <p><a href="#">See listings</a></p>
        </div>
        <div class="panel">
            <h1 class="panel-title">Free Market Appraisal</h1>
            <p>Sed aliquam sed sem vel feugiat. Nunc vitae magna tellus. Sed non justo fermentum, eleifend justo id, semper enim.</p>
            <p><a href="#">See listings</a></p>
        </div>
    </div>

{% endblock %}
