{% extends 'GalleryCoreBundle::master.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}

    <section class="jumbotron-container">
        <section class="jumbotron-main">
            <h1 class="jumbotron-title">About</h1>
            <h2 class="jumbotron-subtitle">Subtitle</h2>
        </section>
    </section>

    <section class="content-container">
        <section class="content-main">
            <p>Gallery@HD1 and Gallery@HD6 are independently owned estate agents solely for the Huddersfield and Brighouse property markets. Our extensive knowledge of the local market place in both areas enable us to give the best possible customer service to our clients. Occupying two of the best retail positions in the whole of Huddersfield and in Brighouse, with a state of the art shop and window displays; you can guarantee Gallery is the only place for your property to be seen.</p>
            <p>The prime aim of the company is simple: Offering the very highest levels of customer service, combined with exceptional local knowledge (vital if you wish to maximise the best possible price for your home). Our goal is to make the process of moving a smooth, stress free experience from the moment your property goes on to the open market to the day you move house.</p>
            <p>Why we stand out from the crowd:</p>
            <ul>
                <li>Prime high street location</li>
                <li>One joint fee for estate agency and conveyancing available</li>
                <li>Regular vendor reports</li>
                <li>Accompanied viewing</li>
                <li>Auction option</li>
                <li>Free realistic valuations</li>
                <li>Friendly personal service</li>
                <li>Free advertising</li>
                <li>Updated internet advertising on Zoopla, Find A Property, Rightmove, and many more</li>
                <li>Price match any genuine quote</li>
                <li>No sale no fee</li>
                <li>Open 7 days per week</li>
                <li>Late night opening</li>
                <li>Striking sale boards</li>
                <li>Property matched with applicants on mailing-list database using SMS text-messaging, emails, and letters</li>
                <li>High quality colour photographs</li>
                <li>Independent financial advice on site</li>
            </ul>
        </section>
    </section>

{% endblock %}
