/*
 * This file is part of the gallery
 *
 * (c) Gallery Estate Agents
 *
 * @author Elliot Wright <elliot@elliotwright.co>
 */

/**
 * Content
 */

.content-container {
    padding: 50px 0;
}

.content-main {
    @extend %wrapper;

    line-height: 1.7em;

    p {
        margin-bottom: 1.7em;
    }
}
