/*
 * This file is part of the gallery
 *
 * (c) Gallery Estate Agents
 *
 * @author Elliot Wright <elliot@elliotwright.co>
 */

/**
 * Intent
 */

.intent {
    border-bottom: 1px solid $smokeLight;
    text-align: center;
    padding: 30px 0;
}

.intent-container {
    margin: 0 auto;
    width: $screen-med;
}

.intent-bar {
    .dropdown {
        margin: 0 14px;
    }

    .button {
        font-size: 24px;
    }
}

.intent-text {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    padding: 11px 0;
    vertical-align:top;
}
