/*
 * This file is part of the gallery
 *
 * (c) Gallery Estate Agents
 *
 * @author Elliot Wright <elliot@elliotwright.co>
 */

/**
 * News
 */

.news {
  background: $smokeLight;
  color: $charLight;
  padding: 40px;
}

.news-container {
  margin: 0 auto;
  width: $screen-med;
}
