/*
 * This file is part of the gallery
 *
 * (c) Gallery Estate Agents
 *
 * @author Elliot Wright <elliot@elliotwright.co>
 */

/**
 * News
 */

.news-main {
    @extend %wrapper;

    color: $charLight;
}

.news-container {
    background: $smokeLight;
    padding: 40px 0;
}
