/*
 * This file is part of the gallery
 *
 * (c) Gallery Estate Agents
 *
 * @author Elliot Wright <elliot@elliotwright.co>
 */

/**
 * Panels
 */

.panels {
    @include outer-container;

    padding: 30px 0;
    text-align: justify;

    .panel {
        @include span-columns(3);
    }
}

.panel-icon {
    color: $smoke;
    font-size: 80px;
    text-align: center;
}

.panel-title {
    font-size: 24px;
    margin-bottom: 1.5em;
}
