/*
 * This file is part of the gallery
 *
 * (c) Gallery Estate Agents
 *
 * @author Elliot Wright <elliot@elliotwright.co>
 */

/**
 * Typography
 */

body {
    color: $text-base;
    font: $font-base;
}

a {
    color: $text-primary;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-weight-normal;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-primary {
    color: $text-primary;
}

.text-success {
    color: $text-success;
}

.text-info {
    color: $text-info;
}

.text-warning {
    color: $text-warning;
}

.text-danger {
    color: $text-danger;
}
