/*
 * This file is part of the gallery
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Contact
 */

.contact-main {
    @extend %wrapper;
}

.contact-form,
.contact-aside {
    padding: 50px 0;
}

.contact-form {
    @include span-columns(9);
}

.contact-aside {
    @include span-columns(3);
}

.contact-form {
    @include outer-container();

    padding-right: 50px;

    .contact-input {
        @include span-columns(6);
        @include omega(2n);

        padding: 20px;
    }

    .contact-body {
        @include span-columns(12);

        padding: 20px;
    }
}

.contact-map-container {
    border-bottom: 1px solid $smokeLight;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.contact-map-main {
    bottom: -100px;
    left: -100px;
    position: absolute;
    right: -100px;
    top: 0;
}

.contact-map-content {
    background: rgba(255, 255,255, 0.4);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.contact-map-jumbotron {
    @extend %wrapper;

    padding-bottom: 90px;
    padding-top: 90px;
}
