/*
 * This file is part of the gallery
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Footer
 */

.footer-main {
    @extend %wrapper;

    color: $white;
    font-size: 14px;
    line-height: 20px;

    a {
        color: $smokeDark;

        &:hover {
            color: $white;
            text-decoration: none;
        }
    }

      hr {
        @include span-columns(12);

        border: 0;
        border-top: 1px solid $char;
        display: block;
        margin: 2em 0;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.footer-container {
    background: $charDark;
    padding: 50px 0;
}

.footer-logo,
.footer-links,
.footer-map {
    @include span-columns(4);
}

.footer-copyright,
.footer-social {
    @include span-columns(6);
}

.footer-links,
.footer-map,
.footer-social {
    @include omega();
}

.footer-links {
    ul {
        @include span-columns(6);
    }
}

.footer-copyright {
    color: $smokeDark;
}

.footer-social {
    font-size: 24px;
    text-align: right;

    ul {
        li {
        display: inline-block;
        }
    }
}
