/*
 * This file is part of the gallery
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Forms
 */

input,
textarea {
    outline: none;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="button"]):not([type="reset"]),
textarea {
    border: 2px solid $smokeLight;
    border-radius: 4px;
    padding: 10px 14px;

    &:active,
    &:focus,
    &:hover {
        border: 2px solid $smoke;
    }
}

textarea {
    height: 205px;
    resize: none;
}

.input-block {
    display: block;
    width: 100%;
}
