/*
 * This file is part of the gallery
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Intent
 */

.intent-main {
    @extend %wrapper;

    & + & {
        margin-top: 20px;
    }
}

.intent-container {
    border-bottom: 1px solid $smokeLight;
    padding: 40px 0;
    text-align: center;
}

.intent-bar {
    .dropdown {
        margin: 0 14px;
    }

    .button {
        font-size: 24px;
    }
}

.intent-text {
    display: inline-block;
    font-size: 24px;
    line-height: 1;
    margin: 0;
    padding: 11px 0;
    vertical-align:top;
}
