/*
 * This file is part of the gallery
 *
 * (c) Elliot Wright <elliot@elliotwright.co>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/**
 * Scaffolding
 */

html,
body {
    margin: 0;
    min-width: $screen-med;
    padding: 0;
}

%wrapper {
    @include outer-container();

    margin: 0 auto;
    padding: 0 40px;
    width: $screen-med;
}
