<div class="intent-container">
    <section class="intent-main">
        <div class="intent-bar">
            <span class="intent-text">I want to</span>
            <select name="" id="">
                <option value="buy">buy</option>
                <option value="rent">rent</option>
            </select>
            <span class="intent-text">a property with at least</span>
            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span class="intent-text">bedrooms in</span>
            <select name="" id="">
                <option value="all">all areas</option>
                <option value="huddersfield">Huddersfield</option>
                <option value="wakefield">Wakefield</option>
            </select>
            <button class="button button-primary">Go</button>
        </div>
    </section>
</div>
