<div class="intent-container">
    <section class="intent-main">
        <div class="intent-bar">
            <span class="intent-text">I want to</span>
            <select name="" id="">
                <option value="buy">buy</option>
                <option value="rent">rent</option>
            </select>
            <span class="intent-text">a property with at least</span>
            <select name="" id="">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <span class="intent-text">bedrooms in</span>
            <select name="" id="">
                <option value="hd1">HD1</option>
                <option value="hd2">HD2</option>
                <option value="hd3">HD3</option>
                <option value="hd4">HD4</option>
                <option value="hd5">HD5</option>
                <option value="hd6">HD6</option>
                <option value="hd7">HD7</option>
                <option value="hd8">HD8</option>
                <option value="hd9">HD9</option>
                <option value="wf1">WF1</option>
                <option value="wf2">WF2</option>
                <option value="wf3">WF3</option>
                <option value="wf4">WF4</option>
                <option value="wf5">WF5</option>
                <option value="wf6">WF6</option>
                <option value="wf7">WF7</option>
                <option value="wf8">WF8</option>
                <option value="wf9">WF9</option>
                <option value="wf10">WF10</option>
                <option value="wf11">WF11</option>
                <option value="wf12">WF12</option>
                <option value="wf13">WF13</option>
                <option value="wf14">WF14</option>
                <option value="wf15">WF15</option>
                <option value="wf16">WF16</option>
                <option value="wf17">WF17</option>
                <option value="all">all areas</option>
            </select>
            <button class="button button-primary">Go</button>
        </div>
    </section>
    {% if advanced %}

        <section class="intent-main">
            <div class="intent-bar">{#
                <span class="intent-text">Minimum Price</span>
                <select name="" id="">
                    <option value="">£0 - £100,000</option>
                </select> #}
                <span class="intent-text">Maximum Price</span>
                <div class="slider"></div>
                <div class="range"></div>
            </div>
            {# <ul>
                <li>Minimum &amp; Maximum Price</li>
                <li>Price Sorting</li>
                <li>Classification (Not specified)</li>
                <li>Property Type (Not wanted)</li>
            </ul> #}
        </section>

    {% endif %}
</div>
