[supervisord]
nodaemon=true

[program:memcached]
command=/usr/bin/memcached -u memcached -p 11211 -m 128 -t 1
pidfile=/var/pid/supervisor/%(program_name)s.pid
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stderr_logfile=/var/log/supervisor/%(program_name)s_error.log
autorestart=true
stopasgroup=true
