[supervisord]
nodaemon=true

[program:mysql]
command=/usr/bin/mysqld_safe
pidfile=/var/pid/supervisor/%(program_name)s.pid
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stderr_logfile=/var/log/supervisor/%(program_name)s_error.log
autorestart=true
stopasgroup=true
