{% extends 'GalleryCoreBundle::master.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <div class="contact-map-container">
        <section id="map" class="contact-map-main"></section>
        <section class="contact-map-content">
            <div class="contact-map-jumbotron">
                <h1 class="jumbotron-title">Say hello.</h1>
                <h2 class="jumbotron-subtitle">We always look forward to hearing you.<br />Drop us a line (or two) below.</h2>
            </div>
        </section>
    </div>

    <div class="contact-container">
        <section class="contact-main">
            <section class="contact-form">
                <form action="">
                    <div class="contact-input">
                        <input type="text" class="input-block" placeholder="First name" />
                    </div>
                    <div class="contact-input">
                        <input type="text" class="input-block" placeholder="Last name" />
                    </div>
                    <div class="contact-input">
                        <input type="text" class="input-block" placeholder="Email" />
                    </div>
                    <div class="contact-input">
                        <input type="text" class="input-block" placeholder="Phone" />
                    </div>
                    <div class="contact-body">
                        <textarea class="input-block" placeholder="Message"></textarea>
                    </div>
                </form>
            </section>
            <aside class="contact-aside">
                <dl>
                    <dt>Phone</dt>
                    <dd>01234 567 890</dd>
                    <dt>Fax</dt>
                    <dd>01234 567 890</dd>
                    <dt>Email</dt>
                    <dd><a href="mailto:example@example.com">example@example.com</a></dd>
                </dl>
            </aside>
        </section>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDhIl-zS11ToFsxpe8I4tUOhHKIY_aeGd0"></script>
    <script>
        var myOptions = {
            zoom: 15,
            center: new google.maps.LatLng(53.385873, -1.471471),
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            styles: [{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":65},{"visibility":"on"}]},{"featureType":"poi","stylers":[{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]},{"featureType":"road.highway","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"road.arterial","stylers":[{"saturation":-100},{"lightness":30},{"visibility":"on"}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"labels","stylers":[{"visibility":"on"},{"lightness":-25},{"saturation":-100}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#ffff00"},{"lightness":-25},{"saturation":-97}]}]
        };

        var map = new google.maps.Map(document.getElementById('map'), myOptions);
    </script>

{% endblock %}
