{% extends 'GalleryCoreBundle::master.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

    <section class="contact-container">
        <section class="contact-main">
            <form action="" class="contact-form">
                <div class="contact-input">
                    <input type="text" class="input-block" placeholder="First name" />
                </div>
                <div class="contact-input">
                    <input type="text" class="input-block" placeholder="Last name" />
                </div>
                <div class="contact-input">
                    <input type="text" class="input-block" placeholder="Email" />
                </div>
                <div class="contact-input">
                    <input type="text" class="input-block" placeholder="Phone" />
                </div>
                <div class="contact-body">
                    <textarea class="input-block" placeholder="Message"></textarea>
                </div>
            </form>
        </section>
        <aside class="contact-aside">
            <dl>
                <dt>Phone</dt>
                <dd>01234 567 890</dd>
                <dt>Fax</dt>
                <dd>01234 567 890</dd>
                <dt>Email</dt>
                <dd><a href="mailto:example@example.com">example@example.com</a></dd>
            </dl>
        </aside>
    </section>

{% endblock %}
