[supervisord]
nodaemon=true

[program:hhvm]
command=/usr/bin/hhvm --mode daemon --config /etc/hhvm/server.ini --config /etc/hhvm/php.ini --user www-data -vServer.Type=fastcgi -vServer.Port=9000
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stderr_logfile=/var/log/supervisor/%(program_name)s_error.log
autorestart=true
stopasgroup=true
user=www-data

[program:nginx]
command=/usr/sbin/nginx
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stderr_logfile=/var/log/supervisor/%(program_name)s_error.log
autorestart=true
stopasgroup=true
