[supervisord]
nodaemon=true

[program:hhvm]
command=/usr/bin/hhvm -m server -vServer.Type=fastcgi -vServer.Port=9000
pidfile=/var/pid/supervisor/%(program_name)s.pid
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stderr_logfile=/var/log/supervisor/%(program_name)s_error.log
autorestart=true
stopasgroup=true

[program:nginx]
command=/usr/sbin/nginx
pidfile=/var/pid/supervisor/%(program_name)s.pid
stdout_logfile=/var/log/supervisor/%(program_name)s.log
stderr_logfile=/var/log/supervisor/%(program_name)s_error.log
autorestart=true
stopasgroup=true
